* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: #FFFFFF;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
}

h1 {
    color: rgb(63, 39, 39);
}

header {
    text-align: center;
    margin: 50px;
    padding: 20px;
    background-color: aliceblue;
    width: 80%;
    margin: 20px auto;
    border: none;
    box-shadow: 0px 0px 5px #394b53;
    
}

 main {
  margin: 0 auto;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

div {
    padding: 25px;
    border:none;
    border-radius: 10%;
    box-shadow: 0px 0px 5px #394b53;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}

input, button {
    padding: 8px;
    margin: 10px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
     box-shadow: 0px 0px 3px #5d65a7;
}

#charCountBox {
    height: 150px;
    width: 420px;
    border-radius: 25px;
}

label {
    font-weight: 600;
}

#addTwoBox {
    width: 420px;
    border-radius: 15px;
    padding: 25px;
}

